<body class="bg-default">
  <div class="main-content">
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" target="_blank">
          HIZLIARAÇKİRALA.COM
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a>
                  ANA SAYFA
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main"
                  aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button class="btn btn-secondary" type="button" routerLink='' id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                AnaSayfa
              </button>
            </li>
            <div class="navbar-nav ml-auto" *ngIf="checkAdminRole()" class="dropdown">
              <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                Araç Yönetimi
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#" routerLink="caradd">Araç İşlemleri</a></li>
                <li><a class="dropdown-item" href="#" routerLink="coloradd">Renk İşlemleri</a></li>
                <li><a class="dropdown-item" href="#" routerLink="brandadd">Marka İşlemleri</a></li>
              </ul>
            </div>
            <li class="nav-item" *ngIf="!isAuthenticated()">
              <button class="btn btn-secondary" type="button" routerLink='login' id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Giriş Yap
              </button>
            </li>
            <div class="navbar-nav ml-auto" *ngIf="checkAdminRole()" class="dropdown">
              <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{authService.name}}{{authService.surname}}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/user">Hesap Bilgilerim</a></li>
                <li><a class="dropdown-item" routerLink="/userrental">Geçmiş Kiralamalar</a></li>
                <button type="button" (click)="logOut()" class="btn" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  Çıkış Yap
                </button>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>