<nav class="header-blue navbar navbar-expand-lg py-3 navbar-white bg-dark shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-6 collapse-brand">
        <a href="#" class="navbar-brand">
    <span class="text-uppercase font-weight-bold text-white">Hızlı Araç Kirala.Com</span>
  </a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <ul  class="navbar-nav text-xl-left ml-auto">
        <!-- <li class="nav-item active"><a href="#" class="nav-link text-white">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Services</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Contact</a></li> -->
        <li *ngIf="!isAuthenticated()" class="nav-item"><a href="#" routerLink='login' class="nav-link text-white">Giriş Yap</a></li>
        <div class="navbar-nav ml-auto" class="dropdown">
          <li class="nav-item" type="button" *ngIf="checkAdminRole()" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <a class="nav-link text-white">Araç Yönetimi</a>
          </li>
          <ul class="dropdown-menu bg-default" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item " href="#"  routerLink="caradd">Araç İşlemleri</a></li>
            <li><a class="dropdown-item" href="#" routerLink="coloradd">Renk İşlemleri</a></li>
            <li><a class="dropdown-item" href="#" routerLink="brandadd">Marka İşlemleri</a></li>
          </ul>
        </div>

          <div class="media d-flex align-items-center dropdown" *ngIf="checkUserRole()">
              <li class="nav-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                <a  class="nav-link  text-white">{{authService.name}} {{authService.surname}}
                </a>
              </li><img src="https://bootstrapious.com/i/snippets/sn-v-nav/avatar.png" alt="..." width="30" class="rounded-circle  shadow-sm">
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" routerLink="/user">Hesap Bilgilerim</a></li>
                <li><a class="dropdown-item" routerLink="/userrental">Geçmiş Kiralamalar</a></li>
                <button type="button" (click)="logOut()" class="btn" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  Çıkış Yap
                </button>
              </ul>
          </div>
      </ul>
    </div>
  </div>
</nav>


