<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="social-network">
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand"  href="" style="text-transform: uppercase;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 25px;" > Rent A Car</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/cars">Cars
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <div class="media d-flex align-items-center dropdown" *ngIf="checkUserRole()">
            <li class="nav-item" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <a  class="nav-link text-white">{{authService.name}} {{authService.surname}}
              </a>
            </li><img src="https://bootstrapious.com/i/snippets/sn-v-nav/avatar.png" alt="..." width="30" class="rounded-circle  shadow-sm">
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="/user">Hesap Bilgilerim</a></li>
              <li><a class="dropdown-item" routerLink="/userrental">Geçmiş Kiralamalar</a></li>
              <button type="button" (click)="logOut()" class="btn" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Çıkış Yap
              </button>
            </ul>
        </div>
        <div class="navbar-nav ml-auto" class="dropdown">
          <li class="nav-item" type="button" *ngIf="checkAdminRole()" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <a class="nav-link text-white">Araç Yönetimi</a>
          </li>
          <ul class="dropdown-menu bg-default" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item " href="#"  routerLink="caradd">Araç İşlemleri</a></li>
            <li><a class="dropdown-item" href="#" routerLink="coloradd">Renk İşlemleri</a></li>
            <li><a class="dropdown-item" href="#" routerLink="brandadd">Marka İşlemleri</a></li>
          </ul>
        </div>
        <li class="nav-item" type="button" *ngIf="checkAdminRole()" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            <a class="nav-link text-white">Araç Yönetimi</a>
          </li>

          <li class="nav-item"  *ngIf="!isAuthenticated()">
            <app-login></app-login>
          </li>

         <li class="nav-item"  *ngIf="!isAuthenticated()">
            <a class="nav-link text-white" href="register">SignIn</a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" href="#">Sea food</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Vegetables</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>


