
h3{
  margin: 30px ;
  font-family: "Times New Roman", Times, serif;
font-style: initial;font-weight:bold;
}

p{
  position: relative;
  left: 10px;
}

.tab .nav-tabs li a {
  font-size:14px;
  color:#fff;
  text-transform:uppercase;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.4);

}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active a{
  background:#090a0a;
  color:#fff;
  padding:20px 30px;
  border:1px solid rgb(61, 65, 65);
}



