* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h3{
  margin: 30px ;
  font-family: "Times New Roman", Times, serif;
font-style: initial;font-weight:bold;text-align: center;
}

p{
  text-align: center;
  margin: 0;

}

.container {
    margin: 20px auto;
    max-width: 1000px;
    padding: 0;
}


img {
    width: 30%;
    height: 30%;
    left:30%;
    position: relative;
    object-fit: fill;
}

.text-muted {
    font-size: 10px;
}

.textmuted {
    color: #6c757d;
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.btn.btn-primary {
    width: 100%;
    height: 55px;
    position: relative;
    left: -400px;
    top:50px;
    border-radius: 0;
    padding: 13px 0;
    background-color:#54d400;
    border: none;
    font-weight: 600;
}

.btn.btn-primary:hover  {
    background-color: #488f19;
    transform: translateX(10px);
    transition: transform 0.5s ease
}



.fw-900 {
    font-weight: 900;
}

::placeholder {
    font-size: 12px;
}

.ps-30 {
    padding-left: 30px;
}

.h3 {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 1200 !important;
}



h4{
  margin: 30px ;
  font-family: "Times New Roman", Times, serif;
font-style: initial;font-weight:bold;
}
