<div class="container">
  <div class="row m-0">
      <div class="col-lg-7 pb-5 pe-lg-5">
          <div class="row">
              <div class="col-12 p-5" *ngFor="let car of cars">
                  <img [src]="car.imagePath"
                      alt="">
              </div>
              <div class="row m-0 bg-light" *ngFor="let car of cars">
                  <div class="col-md-4 col-6 ps-30 pe-0 my-4">
                      <p class="text-muted">Kilometre</p>
                      <p class="h5">25000<span class="ps-1">Km</span></p>
                  </div>
                  <div class="col-md-4 col-6  ps-30 my-4">
                      <p class="text-muted">Koltuk Sayısı</p>
                      <p class="h5 m-0 text-xl-left">{{car.capacity}}</p>
                  </div>
                  <div class="col-md-4 col-6 ps-30 my-4">
                      <p class="text-muted">Vites Türü</p>
                      <p class="h5 m-0 text-xl-left">{{car.gear}}</p>
                  </div>
                  <div class="col-md-4 col-6 ps-30 my-4">
                      <p class="text-muted">Bagaj Hacmi</p>
                      <p class="h5 m-0 text-xl-left">{{car.luggageCapacity}} Çanta</p>
                  </div>
                  <div class="col-md-4 col-6 ps-30 my-4">
                      <p class="text-muted">Renk</p>
                      <p class="h5 m-0 text-xl-left">{{car.colorName}} </p>
                  </div>
                  <div class="col-md-4 col-6 ps-30 my-4">
                      <p class="text-muted">Yakıt Türü</p>
                      <p class="h5 m-0 text-xl-left">{{car.fuel}} </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-5 p-0 ps-lg-4">
          <div class="row m-0">
            <div class="col-12 px-4" *ngFor="let car of cars">
              <div class="d-flex align-items-end mt-4 mb-2">
                  <p class="h3 m-0"><span class="pe-1">{{car.carName}}</span><span class="pe-1">{{car.carModel}}</span></p>
              </div>
            </div>
            <br><br>
            <div class="col-12 px-4 my-4">
              <p class="fw-bold">Müşteri Bilgileri</p>
          </div>
              <div class="d-flex justify-content-between mb-2">
                  <p class="textmuted">Müşteri Adı Soyadı</p>
                  <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign pe-1"></span>{{authService.name}} {{authService.surname}}</p>
              </div>
              <div class="d-flex justify-content-between mb-2">
                  <p class="textmuted">Email</p>
                  <p class="fs-14 fw-bold">{{authService.email}}</p>
              </div>
              <div class="d-flex justify-content-between mb-2">
                  <p class="textmuted">İl/İlçe</p>
                  <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>İstanbul/Sultangazi</p>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <p class="textmuted">Yaş</p>
                <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign px-1"></span>22</p>
            </div>
          </div>
          <br>
              <div class="col-12 px-0">
                <div class="row bg-light m-0">
                      <div class="col-12 px-4 my-4">
                          <p class="fw-bold">Kiralama Tarihi</p>
                      </div>
                      <div class="col-12 px-4">
                          <div class="d-flex  mb-4">
                              <span class="">
                                  <p class="text-muted">Alış Tarihi</p>
                                  <input class="form-control" type="date" id="rentDate" [(ngModel)]="rentDate" value=""
                                      placeholder="">
                              </span>
                          </div>
                          <div class="d-flex mb-5">
                              <span class="me-5">
                                  <p class="text-muted">Teslim Tarihi</p>
                                  <input class="form-control" type="date" id="returnDate" [(ngModel)]="returnDate" value=""
                                  placeholder="">
                              </span>
                          </div>
                          <div class="d-flex justify-content-between mb-3">
                            <p class="textmuted fw-bold">Ödenecek Miktar</p>
                            <div class="d-flex align-text-top ">
                                <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span><span class="h4">{{amountPaye | currency:"₺"}}</span>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="row m-0">
                      <div class="col-12  mb-4 p-0" *ngFor="let car of cars">
                          <div class="btn btn-primary" type="button" (click)="createRentalRequest(car)">KİRALA<span class="fas fa-arrow-right ps-2"></span>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>

