 <div *ngFor="let car of cars"  id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    </div >
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img [src]="car.imagePath" class="d-block w-100" alt="...">
      </div>
  </div>
  <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Araç Adı</th>
            <th scope="col">Model Yılı</th>
            <th scope="col">Günlük Ücret</th>
            <th scope="col">Açıklama</th>
            <th>Kirala </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{car.carName}}</td>
              <td>{{car.modelYear}}</td>
              <td>{{car.dailyPrice | currency}}</td>
              <td>{{car.description }}</td>   
              <td> <button routerLink="/rentals/car/{{]]" class="btn btn-light">Kirala</button></td>
            </tr>
          </tbody>
      </table>
     
