<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/datedropper.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/datedropper.js"></script>

<div >
  	<header >
      	<div class="shape"></div>
          <div class="container">
           <div class="row">
            	<div class="col-md-6 left-side">
               	<img src="https://hizlioto.com/files/logo/cec5fe1a-b909-4bfd-ab9f-d02ac7d0a3a9.png" style="position:relative;width:600px ; height:400px;top:-30px">
              	</div>
                  	<div style="position:relative; top:50px;" class="col-md-6 right-side">
                      <h1 class="text-muted"style="font-weight:bold">HIZLI ARAÇ KİRALA</h1>
                      	<p></p>
                      <div class="text-center">
                      	<button class="btn order-button text">FİLOMUZLA TANIŞIN</button>
                    	</div>
                  	</div>
                	</div>
         	</div>
    </header>
    <div class="container mt-100" >
      <div class="card bg-light" style="height:50px; width:80px; padding: 10px 10px; position: relative; top: -100px;">
        <label class="text-muted">Yurt İçi</label>
      </div>
        <div class="card form-control bg-light" style="position:relative; top:-105px;">
            <div class="row"  >
                <div class="col-md-3">
                  <label class="text-muted">Nereden Alıcaksınız</label>
                 <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
                  <option selected>...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
               </div>
                <div class="col-md-3"> <label class="text-muted">Alış Tarihi</label> <input type="datetime-local" class="form-control"> </div>
                <div class="col-md-3"> <label class="text-muted">Teslim Tarihi</label> <input type="datetime-local" class="form-control"> </div>
                <div class="col-md-3"> <label class="text-muted">Sürücü Yaşı</label> <input type="number" class="form-control"> </div>
                <div class="col-md-3"> <button  class="btn btn-primary pro-button w-100">Ara <i class="fa fa-car ml-2"></i></button> </div>
            </div>
        </div>
    </div>
</div>



<app-offer style="position: relative; top:-60px;"></app-offer>



