@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


.left-side img {
    padding-top: 110px
}

.shape {
    left: -9px;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.right-side {
    padding-top: 150px
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold
}

.btn.order-button {
    background: transparent;
    border: 2px solid #83ff00;
    color: #83ff00;
    border-radius: 30%;

    transition: 0.7s
}

.btn.order-button:hover {
    border: 2px solid #0e0d0d;
    color: #130c0c
}

.mt-100{
  margin-top: 100px
}

.card{
  position: relative;
  flex-direction: column;
  min-width: 0;
  padding: 20px;
}

.form-control[readonly]{
  background-color: #f44336;
  opacity: 1;
  color: rgb(17, 12, 12);
  border: 1px solid #f44336
}

.pro-button{
  background-color: #050403;
  border-color: #080606;
  position: relative;
  left: 800px;

}

.pro-button:hover{
  outline: none !important;
  background-color: #54d400;
  border-color: #54d400;
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important
}
label{
  font-weight: 800
}

