<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-5">
         <h3 class="display-4 text" style="font-family: 'Courier New', Courier, monospace; font-weight:bold">KAMPANYALAR</h3>
         <p>Rent A Car, geleneksel araç kiralama hizmetinden fazlasını sunar.
          <a class="text" href=""> Tüm Kampanyalar</a>
        </p>
      </div>
    </div>
  <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="" style="min-height:100px; min-width:250px ;">
          <h4>Temmuz Ayına Özel Crawler ANKA 300 Entegre Karavan + Toyota Hilux 1899 TL</h4>
        </div>
         <div class="card text-white card-has-bg " style="background-image:url(https://www.ikrarentacar.com/webhox/resim/fa860a1bf260d9c5e887ffc607d00e73.png);">
            <img class="card-img d-none">
        </div>
         <button  class="btn btn-primary pro-button w-100">DETAYLI BİLGİ</button>
      </div>
     <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="" style="min-height:100px; min-width:250px ;">
          <h4>Tüm Araç Gruplarında %30 indirim.</h4>
      </div>
          <div class="card text-white card-has-bg" style="background-image:url(https://www.ayhanrentacar.com/webhox/resim/74dbdd5fa56dc91308870034e346661b.png);">
            <img class="card-img d-none">
          </div>
         <button  class="btn btn-primary pro-button w-100">DETAYLI BİLGİ</button>
    </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="" style="min-height:px; min-width:250px ;">
      <h4>Temmuz Ayına Özel 7 Gün Ve Üzeri Kiralamalarda Adrese Teslim&İade Ücretsiz </h4>

  </div>
        <div class="card text-white card-has-bg" style="background-image:url(https://www.adventure-trailer.com/sites/default/files/2021-03/13378.jpg-750x535_1.jpg);">
         <img class="card-img d-none">
      </div>
      <button  class="btn btn-primary pro-button w-100">DETAYLI BİLGİ</button>    </div>
</div>
