<div class="mb-3">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Araç ara..." >
</div>
<div>
</div>
<div class="d-flex flex-wrap justify-content-center justify-content-xl-start"
  style="gap: 0.45em; padding: 0;margin-top: 20px;">
  <div *ngFor="let car of cars | filterPipe:filterText" class="card" style="width: 16rem;">
    <div class="d-flex" style="height: 60%">
      <img [src]="car.imagePath" class="card-img-top" alt="">
    </div>
    <div class="h-100 bg-light border rounded-3">
      <h5 class="card-title text-center">{{car.carName}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center">{{car.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2"}} / gün </li>
    </ul>  
    <div >
      <div class="h-100 bg-light border rounded-3" align="center" >
        <button class="btn btn-outline-secondary" routerLink="cars/cardetail/{{car.carId}}" type="button">İncele</button>
      </div>
    </div>
  </div>
</div>