.product__category, .product__price, .btn {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 700;
}
img {
  max-width: 50%;
  height: auto;
  vertical-align: top;
}
.btn {
  color: #fff;
  text-align: center;
  position: relative;
  padding: 1.75em ;
  border-radius: 5px;
}

.product {
  position: relative;
  top:60px;
  left:50px;
  width: 340px;
  padding: 24px;
  border-radius: 8px;
  height: 430px;
  margin-bottom: 100px;
  /* background: linear-gradient(to bottom, #000000, #dcdfda 10%); */
}

.product__image {
  width: 110%;
  margin-left: -10%;
  margin-right: -60%;
  margin-top: -20px;
  margin-bottom: 30px;
  max-width: none;
}

.product__title {
  font-size: 20px;
  color: #000;
  margin: 0 0 0.5em 0;
  line-height: 1.9;
}
.product__carmodel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  top: -10px;
  left: 270px;
  width: 90px;
  height: 40px;
  background-color:  #0c0a0a;
  color: #fff;

}

.product__btn {
  position: relative;
  align-items: center;
  top: -45px;
  width: 330px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.95);
}
h4{
  top:-40px;
  position: relative;
}

